<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.dao.UserDAO">
    <resultMap id="user" type="com.ssm.model.User">
        <id property="uid" column="uid" jdbcType="BIGINT"/>
        <result property="name" column="username" jdbcType="VARCHAR"/>
        <result property="age" column="age" jdbcType="INTEGER"/>
        <result property="address" column="address" jdbcType="VARCHAR"/>
        <result property="des" column="des" jdbcType="VARCHAR"/>
        <result property="createTime" column="createTime" jdbcType="DATE"/>
        <result property="updateTime" column="updateTime" jdbcType="DATE"/>
    </resultMap>

    <sql id="columns">
        uid,
        `name`,
        age,
        address,
        des,
        createTime,
        updateTime
    </sql>
    <select id="getAllUser" resultMap="user">
        SELECT
        <include refid="columns"/>
        FROM `user`
    </select>
</mapper>
